@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&family=Share&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
 }

html, body, div, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECT VARIABLES */
:root {
    --yellow: rgb(253, 253, 150);
    --red: rgb(255, 105, 97);
    --blue: rgb(80, 134, 193);
    --green: rgb(93, 196, 96);
    --gray: #838383;
    --rajdhani: 'Rajdhani', sans-serif;
    --share: 'Share', sans-serif;
}

/* TYPOGRAPHY */
h1, h2, h3, h4 {
    font-family: var(--rajdhani);
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.6rem;
}

/* -----BACKGROUND ----- */
body {
    background-image: linear-gradient(to right, rgba(11, 13, 23, .8) 0 100%), url(css/background-mobile.png);
    background-repeat: repeat, no-repeat;
    background-size: cover;
}

/* -----END OF BACKGROUND----- */

/* ----- HEADER ----- */
header .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: hsla(0, 0%, 100%, 1) solid 1px;
}

header .top-header.menu-active::after {
    content: '';
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

header .top-header .logo {
    width: 6rem;
    opacity: .4;
}

header .top-header .logo img{
    width: 100%;
}

header .top-header .btn-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .top-header .btn-header button {
    background: none;
    border: none;
}

header .top-header .btn-header button[class$="mode"] {
    display: none;
}

header .top-header .btn-header button.light-mode img {
    width: 4rem;
    filter: invert(100%) sepia(12%) saturate(7500%) hue-rotate(193deg) brightness(113%) contrast(113%);
}

header .top-header .btn-header button.dark-mode img {
    width: 4rem;
}

header .top-header .btn-header .nav-bar {
    display: none;
}
/* -----END OF HEADER ----- */

/* ----- MENU ----- */
header .top-header .btn-header .nav-bar.active {
    display: block;
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0;
    top: 0;
    background-image: url(css/menu-galaxy.png), url(css/menu-galaxy.png);
    background-repeat: no-repeat;
    background-size: 40rem, 40rem;
    background-position-y: 8rem, 38rem;
    background-position-x: 8rem, -5rem;
    background-color: rgb(11, 16, 35);
    border: rgb(148, 148, 148) 1px solid;
    border-radius: 2rem;
    border-right:none;
    border-bottom-right-radius: 0;
    z-index: 100;
}

header .top-header .btn-header .nav-bar ul li {
    padding: 1rem;
}

header .top-header .btn-header .nav-bar ul li a{
    text-decoration: none;
    font-family: var(--share);
    color: rgb(184, 184, 184);
    font-size: 1.8rem;
}