@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&family=Share&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
 }

html, body, div, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

/* PROJECT VARIABLES */
:root {
    --yellow: rgb(253, 253, 150);
    --red: rgb(255, 105, 97);
    --blue: rgb(80, 134, 193);
    --green: rgb(93, 196, 96);
    --gray: rgb(184, 184, 184);
    --rajdhani: 'Rajdhani', sans-serif;
    --share: 'Share', sans-serif;
}

/* TYPOGRAPHY */
h1, h2, h3, h4 {
    font-family: var(--rajdhani);
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

    @media screen and (min-width: 1440px) {
        h1 {
            font-size: 5rem;
        }
    }

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-family: var(--share);
    font-size: 1.8rem;
    color: var(--gray);
}

    @media screen and (min-width: 1440px) {
        p {
            font-size: 2.6rem;
        }
    }

/* -----BACKGROUND ----- */
body {
    background-image: linear-gradient(to right, rgba(11, 13, 23, .95) 0 100%), url(css/background-mobile.png);
    background-repeat: repeat, no-repeat;
    background-size: cover;
}

    @media screen and (min-width: 768px) {
        body {
            background-image: linear-gradient(to right, rgba(11, 13, 23, .95) 0 100%), url(css/background-tablet.png);
        }
    }

    @media screen and (min-width: 1440px) {
        body {
            background-image: linear-gradient(to right, rgba(11, 13, 23, .95) 0 100%), url(css/background-desktop.png);
        }
    }

/* -----END OF BACKGROUND----- */

/* ----- HEADER ----- */
header .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: var(--gray) dotted 3px;
}

    @media screen and (min-width: 768px) {
        header .top-header {
            justify-content: center;
            border: none;
        }

        
        header .top-header::after {
            content: '';
            position: absolute;
            top: 4rem;
            left: 0;
            right: 0;
            border-bottom: var(--gray) 1px dashed;
            z-index: -10;
        }
    }

header .top-header.menu-active::after {
    content: '';
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

header .top-header .logo {
    width: 6rem;
}

    @media screen  and (min-width: 768px) {
        header .top-header .logo {
            position: relative;
            margin-top: .6rem;
            z-index: 11;
            background-color: rgb(11, 13, 23);
            border: var(--gray) 1px dashed;
            border-radius: 5rem;
            padding: 1.5rem 1rem;
            border-left: transparent;
        }

        header .top-header .logo::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 1.5rem;
            bottom: 1.75rem;
            right: -1rem;
            display: inline-block;

            background-color: rgb(11, 13, 23);
            z-index: -1;
        }
    }

    @media screen  and (min-width: 1440px) {
        header .top-header .logo::before {
            right: -.2rem;
        }
    }

    @media screen  and (min-width: 1440px) {
        header .top-header .logo::before {
            bottom: 1.1rem;
        }
    }

header .top-header .logo img{
    width: 100%;
    opacity: .7;
}

header .top-header .btn-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

    @media screen  and (min-width: 768px) {
        header .top-header .btn-header {
            display: block;
            position: absolute;
            right: 0;
            left: 8rem;
        }
    }

header .top-header .btn-header button {
    background: none;
    border: none;
}

header .top-header .btn-header button[class$="mode"] {
    display: none;
}

header .top-header .btn-header button.dark-mode,
header .top-header .btn-header button.light-mode {
    width: 4rem;
}

header .top-header .btn-header button.light-mode img {
    filter: invert(100%) sepia(12%) saturate(7500%) hue-rotate(193deg) brightness(113%) contrast(113%);
}


    @media screen and (min-width: 768px) {
        header .top-header .btn-header button.menu-btn {
            display: none;
        }
        
        header .top-header .btn-header button.active {
            position: absolute;
            width: 3.5rem;
            right: 1rem;
            z-index: 11;
            top: 2.4rem;
        }

    }

    @media screen and (min-width: 1440px) {
        header .top-header .btn-header button.active {
            width: 4rem;
            right: 1rem;
            z-index: 11;
            top: 2.5rem;
            cursor: pointer;
        }
    }
/* -----END OF HEADER ----- */

/* ----- MENU ----- */
header .top-header .btn-header .nav-bar {
    text-align: right;
    transform: scale(0);
    position: absolute;
}

header .top-header .btn-header .nav-bar.active {
    transform: scale(1);
    position: fixed;
    display: block;
    right: 0;
    left: 50%;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(to right, rgba(11, 13, 23, .7) 0 100%), url(css/menu-galaxy.png), url(css/menu-galaxy.png);
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: cover, 40rem, 40rem;
    background-position-y: center, 8rem, 38rem;
    background-position-x: center, 8rem, -5rem;
    background-color: rgb(11, 16, 35);
    border: var(--gray) 1px dashed;
    border-radius: 2rem;
    border-right:none;
    border-bottom-right-radius: 0;
    z-index: 10;
    transition: transform .2s ease-in-out;
    transform-origin: top right;
}

    @media screen and (min-width: 768px) {
        header .top-header .btn-header .nav-bar {
            transform: scale(1);
            display: flex;
            justify-content: space-around;
            background-image: linear-gradient(to right, rgba(11, 13, 23, .85) 0 100%), url(css/menu-galaxy.png), url(css/menu-galaxy.png);
            background-color: rgb(11, 13, 26);
            background-repeat: repeat, no-repeat, no-repeat;
            background-size: cover, 20rem, 20rem;
            background-position-y: center, 0, -4rem;
            background-position-x: center, 2rem, 40rem;
            gap: 10rem;
            margin-top: 2rem;
            margin-left: 1.5rem;
            border: rgb(148, 148, 148) 1px dashed;
            border-radius: 1rem;
            position: relative;
            right: 0;
        }

    }

    @media screen and (min-width: 1440px) {
        header .top-header .btn-header .nav-bar {
            background-image: linear-gradient(to right, rgba(11, 13, 23, .85) 0 100%), url(css/menu-galaxy.png), url(css/menu-galaxy.png), url(css/menu-galaxy.png), url(css/menu-galaxy.png);
            background-color: rgb(11, 13, 26);
            background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
            background-size: cover, 20rem, 20rem, 20rem, 20rem;
            background-position-y: center, 0, -4rem, -7.6rem, -2.3rem;
            background-position-x: center, 2rem, 40rem, 100rem, 75rem;
        }

    }

header .top-header .btn-header .nav-bar button{
    margin: 1rem;
}

    @media screen and (min-width: 768px) {
        header .top-header .btn-header .nav-bar button{
            display: none;
        }
    }

header .top-header .btn-header .nav-bar ul li {
    text-align: left;
    padding: 1rem;
}

    @media screen and (min-width: 768px) {
        header .top-header .btn-header .nav-bar ul {
            display: flex;
            gap: 1rem;
        }

        header .top-header .btn-header .nav-bar ul.lside-nav {
            margin-left: 4rem;

        }

        header .top-header .btn-header .nav-bar ul.rside-nav {
            margin-right: 8rem;

        }
    }

    @media screen and (min-width: 1440px) {
        header .top-header .btn-header .nav-bar ul {
            display: flex;
            gap: 10rem;
        }
    }

header .top-header .btn-header .nav-bar ul li a{
    text-decoration: none;
    font-family: var(--rajdhani);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
}

    @media screen and (min-width: 1440px) {
        header .top-header .btn-header .nav-bar ul li a{
            font-size: 2.4rem;

        }

        header .top-header .btn-header .nav-bar ul li a:hover{
            font-size: 2.4rem;
            color: var(--gray);
        }
    }

header .top-header .btn-header .nav-bar ul li.active a {
    border-bottom: var(--gray) 2px dotted;
    color: var(--gray);
}

/* ----- END OF MENU ----- */

/* ----- MAIN ----- */
.homepage main.content {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .homepage main.content {
        display: flex;
        gap: 5rem;
        margin: 10rem 10rem;
        margin-bottom: 5rem;
    }
}

.homepage main.content .img-container {
    width: 25.6rem;
    margin: 1rem auto;
}

    @media screen and (min-width: 768px) {
        .homepage main.content .img-container {
            width: 40rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }

    @media screen and (min-width: 1440px) {
        .homepage main.content .img-container {
            width: 100rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }

.homepage main.content .text-container h1 {
    margin: 0 2rem;
}

    @media screen and (min-width: 768px) {
        .homepage main.content .text-container h1 {
            margin: 0 20rem;
        }
    }

.homepage main.content .text-container p {
    text-align: justify;
    margin: 3rem 3rem;
}

    @media screen and (min-width: 768px) {
        .homepage main.content .text-container p {
            margin: 3rem 10rem;
        }
    }

    @media screen and (min-width: 1440px) {
        .homepage main.content .text-container p {
            margin: 3rem 10rem;
        }
    }

.homepage main.content .text-container button {
    margin-bottom: 4.5rem;
    padding: 2rem 4rem;
    background: linear-gradient(to right, rgba(11, 13, 23, .8) 0 100%), url(css/button-background.png);
    background-size: 38rem;
    background-position: center;
    border: white solid 2px;
    border-radius: 5rem;
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: var(--share);
}

    @media screen and (min-width: 768px) {
        .homepage main.content .text-container button {
            margin: 2.5rem auto 6rem auto;
        }
    }

    @media screen and (min-width: 1440px) {
        .homepage main.content .text-container button {
            margin: 2.5rem auto 2rem auto;
            font-size: 3.2rem;
            padding: 2rem 10rem;
            background-position-x: -2rem;
            background-repeat: no-repeat;
        }

        .homepage main.content .text-container button:hover {
            margin: 2.5rem auto 2rem auto;
            font-size: 3.2rem;
            padding: 2rem 10rem;
            background-position-x: -2rem;
            background-repeat: no-repeat;
            background: linear-gradient(to right, rgba(11, 13, 23, .8) 0 100%), url(css/rocket-background-n.png),url(css/button-background.png);
        }
    }